.timeline-container {
    text-align: center;
    padding: 40px;
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  .timeline-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
  }
  .timeline {
    position: relative;
    width: 60%;
    margin: auto;
    padding: 20px 0;
  }
  .timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 4px;
    height: 100%;
    background: #333;
    transform: translateX(-50%);
  }
  .timeline-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin-bottom: 30px;
    position: relative;
  }
  
  .timeline-item:nth-child(odd) {
    justify-content: flex-end;
    text-align: right;
  }
  
  .timeline-item:nth-child(even) {
    justify-content: flex-start;
    text-align: left;
  }
  
  .timeline-content {
    background: rgb(1, 1, 1);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
  }
  